.header {
  background-color: rgb(42, 62, 120);
  padding: 0.75rem;
}

.headers {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem;
  border-radius: 1rem;
  padding: 0.1rem 1rem;
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 1.75rem;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 61, 175);

  font-weight: bold;
}

.header__icon {
  width: 80px;
  cursor: pointer;
  border-radius: 3rem;
  padding: 0.1rem;
  width: 80px;
}

.options {
  font-size: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.options span {
  margin: 0;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.headerLeft,
.headerRight {
  display: flex;
  gap: 2rem;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: rgb(197, 197, 197);
}

.input_search {
  display: flex;
}
.input_search input {
  border-radius: 1rem;
  margin-right: 0.75rem;
  padding: 1rem 2rem;
  padding-right: 4rem;
  border: hidden;
}

.input_search button {
  display: flex;
  color: black;
  padding: 1rem;
  border-radius: 1rem;
  border: hidden;
  align-items: center;
  justify-content: center;
}

.input_search button:hover,
.input_search input:hover,
.input_search input:focus {
  background-color: rgb(216, 216, 216);
}

input::placeholder {
  font-size: 15px;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (max-width: 850px) {
  .headerLeft,
  .headerRight {
  }
  a > span {
    margin: 0.5rem 0;
  }
  .input_search {
    margin: 0;
  }
  .logo h1 {
    display: none;
  }
}
