.header {
  background-color: rgb(40, 86, 224);
  align-items: center;
  display: flex;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 1rem;
  margin: 1.25rem;
  padding: 0.5rem;
}

.logo {
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  margin: 0.5rem;
  border-radius: 1rem;
  padding-right: 1rem;
}

.logo h1 {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.logo img {
  margin: 0;
}
.header h1 {
  font-size: 2rem;
  background-color: rgb(255, 255, 255);
  color: rgb(23, 61, 175);
}
.headerLeft,
.headerRight {
  display: flex;
  align-items: center;
}

a > span {
  margin: 0 30px;
  font-size: 1.3rem;
  cursor: pointer;
  color: white;
}

a > span:hover {
  color: rgb(197, 197, 197);
}

.header__icon {
  width: 80px;
  cursor: pointer;
  border-radius: 3rem;
  padding: 1rem;
  width: 80px;
}

.input_search {
  margin-right: 5rem;
  display: flex;
}
.input_search input {
  border-radius: 1rem;
  margin-right: 0.75rem;
  padding: 1.25rem 2.5rem;
  border: hidden;
}

.input_search button {
  display: flex;
  color: black;
  padding: 1.25rem;
  border-radius: 2rem;
  border: hidden;
  align-items: center;
  justify-content: center;
}

.input_search button:hover,
.input_search input:hover,
.input_search input:focus {
  background-color: rgb(216, 216, 216);
}

@media only screen and (max-width: 850px) {
  .headerLeft,
  .headerRight {
  }
  a > span {
    margin: 0.5rem 0;
  }
  .input_search {
    margin: 0;
  }
  .logo h1 {
    display: none;
  }
}
